
*.zip
*.log
*.txt
.DS_Store


lobby/playerdata/*
lobby/stats/*
lobby/skin-database/* 
plugins/Essentials/userdata/*

!/lobby/wd_next.txt 
*.zip
plugins/Essentials/usermap.csv
plugins/AuthMe/authme.log
